@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    font-family: 'Suisse', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
      'Helvetica Neue', Arial, sans-serif;
  }

@layer base {
    @font-face {
        font-family: 'Suisse SemiBold';
        src: url('/fonts/SuisseIntl-SemiBold-WebM.woff2') format('woff2');

    }
    @font-face {
        font-family: 'Suisse Regular';
        src: url('/fonts/SuisseIntl-Regular-WebM.woff2') format('woff2');
    }
    /* html {
        font-family: 'Suisse Regular';
    } */
}